<div id="main-menu-mobile" class="main-menu-mobile">
  {% assign mainmenu = site.data.menus.main | sort: 'weight'  %}
  {% assign langs = site.data.menus.languages %}
  <ul>
    {% for item in mainmenu %}
    <li class="{% if item.url == page.url %}active{% endif %}">
      <a href="{{ item.url | relative_url }}">{% t item.name %}</a>
    </li>
    {% endfor %}

    {% for item in langs %}
    <li class="lang-flag">
      {% if item.name == 'pl' %}
        <a href="{{ site.my_url }}/{{page.url}}"><span class="flag-icons {{ item.code | upcase }}"></span></a>
        {% else %}
        <a href="{{ item.name | relative_url }}/{{ page.url}}"><span class="flag-icons {{ item.code | upcase }}"></span></a>
      {% endif %}
    </li>
    {% endfor %}
  </ul>
</div>
