<div id="main-menu" class="main-menu">
  {% assign mainmenu = site.data.menus.main | sort: 'weight'  %}
  {% assign langs = site.data.menus.languages %}
  <ul>
    {% for item in mainmenu %}
    <li class="{% if item.url == page.url %}active{% endif %}">
      {% if site.lang == 'pl' %}
      <a href="{{ site.my_url }}/{{ item.url }}">{% t item.name %}</a>
      {% else %}
      <a href="{{ site.my_url }}/{{site.lang}}/{{ item.url }}">{% t item.name %}</a>
      {% endif %}
    </li>
    {% endfor %}

    {% for item in langs %}
    <li class="lang-flag">
      {% if item.name == 'pl' %}
        <a href="{{ site.my_url }}/{{page.url}}"><span class="flag-icons {{ item.code | upcase }}"></span></a>
        {% else %}
        <a href="{{ item.name | relative_url }}/{{ page.url}}"><span class="flag-icons {{ item.code | upcase }}"></span></a>
      {% endif %}
    </li>
    {% endfor %}
</div>
